.card {
  background-color: var(--color-card-background);
  color: var(--color-card-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-h3);
  padding: var(--spacing-small) var(--spacing-large);
}

.title {
  font-size: var(--font-size-h3);
}

.text {
  font-size: var(--font-size-body);
}

.cardPicture {
  max-width: var(--size-x-large);
  height: auto;
}
