.App {
  text-align: center;
}

.App-header {
  background-color: var(--global-purple);
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.logo {
  height: 10vh;
}

.main-picture {
  height: var(--global-medium);
}

.app-title {
  font-size: calc(10px + 2vmin);
  color: var(--global-black);
}

.App-link {
  color: #61dafb;
}
